<!-- jQuery -->
<script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<!-- Bootstrap -->
<script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- AdminLTE -->
<script src="{{ url_for('static', filename='dist/js/adminlte.js') }}"></script>


<script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>

<!-- Bootstarp 4 -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!-- Pnotify -->


<!-- STL LOADER -->
<script src="{{ url_for('static', filename='js/stl_viewer/three.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/stl_viewer/OrbitControls.js') }}"></script>
<script src="{{ url_for('static', filename='js/stl_viewer/STLLoader.js') }}"></script>

<!-- Selectable -->
<script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
<script src="{{ url_for('static', filename='js/selectable.min.js') }}"></script>

<!-- Websocket -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<!-- custom javascript -->
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>

