{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper custom-body-color">
	<div class="content-main">
		<div class="container-fluid p-0">
			<nav class="navbar shadow-sm mb-3 pb-3 pt-3 pl-5 backgroud-base">
				<div class="row">
					<a href="{{ url_for('auth.find_my_info') }}" class="text-secondary">
						<h3 class="nav-icon">Find My Info<i class="fas fa-search pl-1"></i>
					</a>
				</div>
			</nav>
		</div>

		<div class="container-fluid p-4 d-flex justify-content-center">
			<div class="card col-sm-6 p-0">
				<h4 class="card-header bg-secondary"><i class="fas fa-redo-alt pr-2"></i></i>Reset Password</h4>
				<div class="card-body">
					<div class="row-12">
						<form method="post" action="{{ url_for('auth.find_my_info') }}">
              회원가입 시 등록하신 이메일 주소를 입력해 주세요. 해당 이메일로 비밀번호 변경 안내 링크를 보내드립니다.
              <br>
              <br>
							{{ reset_request_form.hidden_tag() }}
							<div class="form-group">
								{{ reset_request_form.reset_request_email.label }}
                <div class="input-group">
								{{ reset_request_form.reset_request_email(class="form-control", placeholder="Email") }}
                 <div class="input-group-append">  
                   <span class="input-group-text"><i class="far fa-envelope"></i></span> 
                 </div> 
                </div>
								{% for error in reset_request_form.reset_request_email.errors %}
										<p class="text-danger">{{ error }}</p>
								{% endfor %}
							</div>
							<div class="form-group pt-3">
								{{ reset_request_form.reset_request_submit(class="btn btn-custom btn-block btn-sm") }}
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>









	</div>
</div>
{% endblock %}
