{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper custom-body-color">
	<div class="content-main">
		<div class="container-fluid p-0">
			<nav class="navbar shadow-sm mb-3 pb-3 pt-3 pl-5 backgroud-base">
				<div class="row">
					<a href="{{ url_for('auth.user_info') }}" class="text-secondary">
						<h3 class="nav-icon">User Info<i class="fas fa-user pl-1"></i>
					</a>
				</div>
			</nav>
		</div>

		<div class="container-fluid p-4 d-flex justify-content-center">
			<div class="card col-sm-6 p-0">
				<h4 class="card-header bg-secondary"><i class="fas fa-user-circle pr-2"></i></i>User Profile</h4>
				<div class="card-body">
					<div class="row-12">

            <div class="p-2">
              <img src="{{ user.avatar(64) }}" class="user-img">
              <span class="pl-3 float-right">User:{{ user.username }}</span>
            </div>

					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid p-4 d-flex justify-content-center">
			<div class="card col-sm-6 p-0">
				<h4 class="card-header bg-secondary"><i class="fas fa-users-cog pr-2"></i>My Info</h4>
				<div class="card-body p-0">
					<div class="row-12">

						<ul class="list-group">
							<li class="list-group-item nav-link p-4">Email: 
                <span class="float-right">
                  {{ user.email }}
                </span>
              </li> 
							<li class="list-group-item nav-link p-4">Last login:
                <span class="float-right">
                  {{ user.last_login }}
                </span>
              </li>
							<li class="list-group-item nav-link p-4">Last printing: 
                <span class="float-right">
                {{ row.completed_time }}
                </span>
              </li>
						</ul>

					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid p-4 d-flex justify-content-center">
			<div class="row-12">

				<button type="button" class="btn btn-outline-secondary">
					<a href="/printer/result" class="botton-link">
						<i class="fas fa-clipboard-list pr-1"></i> 프린팅결과	
					</a>
				</button>
				<button type="button" class="btn btn-outline-secondary">
					<a href="/change_password" class="botton-link">
						<i class="fas fa-key pr-1"></i> 비밀번호 변경
				</button>
				<button type="button" class="btn btn-outline-secondary">
					<a href="/delete_account" class="botton-link">
						<i class="fas fa-user-slash pr-1"></i> 회원탈퇴
					</a>
				</button>

			</div>
		</div>

	</div>
</div>
{% endblock %}
