{% extends 'base.html' %}


	{% block content %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
					  <h5 class="card-header">Notice!</h5>
					  <div class="card-body">
						<h5 class="card-title">Easyprint 사용법</h5>
						<p class="card-text">모델링 파일을 drop한 후에 결제를 하고 출력을 실시간으로 확인하면 OK!</p>

							<!-- Button trigger modal -->
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> 자세히보기 </button>


					  </div>
					</div>
                    <div class="card">
                    </div>
                </div>
            </div>


            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">

                    </div>
                    <div class="card">
{#						<form action="{{ url_for('file') }}"
							  class="dropzone" id="my-awesome-dropzone">
						</form>
#}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                    </div>
                    <div class="card">
                    </div>
                </div>
            </div>
        </div>

        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>

	{% endblock %}



